# Compiled class files
*.class
*.jar
*.war
*.ear

# Build output directories
out/
target/
build/
bin/

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
modules.xml
workspace.xml

# Log file
*.log

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*